/* * {
    outline: 2px solid red;
} */

body {
    font-family: 'Courier New', Courier, monospace;
    color: #732F17;
}

.main-container {
    background-color: #F2EFDC;
    margin: 10vh auto;
    width: 40%;
    padding: 5vh;
    box-shadow: 0 2px 10px rgba(191, 54, 4, 0.3);
    border-radius: 20px;
}

.main-container .recipes ul {
    list-style: none;
    padding: 0px;
}

.main-container .recipes ul li a{
    text-decoration: none;
    
}

.recipes ul li a:hover {
    text-decoration: underline;
}

li {
    padding: 8px;
}


.title {
    text-align: center;
}